.containerUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:50px;
    border: 2px solid #D9D9D9;
    width: 600px;
}

.formUser{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 2em;
}

.input-group label {
margin-bottom: 0.5em;
color: #1C0F1E;
}

.input-group input textarea {
min-width: 400px;
min-height: 40px;
}



.btn-user {
  align-items: center;
  background-clip: padding-box;
  background-color: transparent;
  border: 1px solid #FE1E38;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 10px 10px 10px 10px;
  min-height: 3rem;
  min-width: 250px;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn-user:hover,
.btn-user:focus {
  background-color: #FE1E38;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-user:hover {
  transform: translateY(-1px);
}

.btn-user:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}